<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BxAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BxAdapter.Properties.Settings>
            <setting name="VisPassIncrement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VisFailDecrement" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VolPassIncrement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VolFailDecrement" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SerializedButtonMappings" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="VolMinThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VisMinThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HelpHasBeenShownOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerializedCategories" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsAreTopmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVisibilityChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVolumeChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableKeysChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadProgramSelector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClosePrograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAlternateKeySimulationMethod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableGamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BxAdapterId" serializeAs="String">
                <value>175891351</value>
            </setting>
            <setting name="DemoDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWholeScreenDimming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerializedPrograms" serializeAs="String">
                <value />
            </setting>
            <setting name="MinOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VisFeedbackModeDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasConnectedToBioExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseageTime" serializeAs="String">
                <value>0</value>
            </setting>
        </BxAdapter.Properties.Settings>
    </userSettings>
</configuration>